---
import { db, Email } from 'astro:db';

if (Astro.request.method === 'POST') {
    // parse form data
    const formData = await Astro.request.formData();
    const email = formData.get('email')
    if (typeof email === 'string') {
        // insert form data into the Email table
        await db.insert(Email).values({ email })
    }
}
---


<footer>
    <div class="footer-middle">
        <div class="footer-content">
            <h4>Sign up for our email list</h4>
            <form method="POST">
                <label>
                    Email 
                    <input type="text" name="email" required />
                </label>
                <button>Submit</button>
        </div>
    </div>
</footer>

<style>
    footer {
        padding: 2em 1em 6em 1em;
        display: flex;
        gap: 0.5rem;
        margin-top: 2rem;
    }
    osmanthus-brand {
        height: auto;
        
    }

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    h4 {
        padding: 0em 1em;
    }
    img {
        height: auto;
        max-width: 100%;
    }
</style>